#add {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Form Inputs */
#catModal .form-control:focus {
  border-color: rgba(220, 53, 69, 0.25) !important;
  box-shadow: 0 0 0 0.2rem rgba(214, 67, 82, 0.25) !important;
}

#userModal .form-control:focus {
  border-color: rgba(40, 167, 69, 0.25) !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

/* Medias */
@media screen and (min-width: 1024px) {
  .modal-content {
    width: 1000px;
  }
  .modal-dialog {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-content {
    width: 1000px;
  }
  .modal-dialog {
    margin-left: 400px;
    margin-right: 400px;
  }
}

@media screen and (min-width: 2560px) {
  .modal-content {
    width: 1000px;
  }
  .modal-dialog {
    margin: auto;
  }
}
