#add {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Medias */
@media screen and (min-width: 1024px) {
  .modal-content {
    width: 1000px;
  }
  .modal-dialog {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-content {
    width: 1000px;
  }
  .modal-dialog {
    margin-left: 400px;
    margin-right: 400px;
  }
}

@media screen and (min-width: 2560px) {
  .modal-content {
    width: 1000px;
  }
  .modal-dialog {
    margin: auto;
  }
}
